.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.growOnHover {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.growOnHover:hover {
  transform: scale(1.12);
}
